<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top bg-transparent">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <div class="home-header">
          <h1>winnow</h1>
          <div class="home-header-background">
          </div>
        </div>
      <% end %>
    </div>
    <!-- Right navigation -->
    <div id="navbar" class="navbar-collapse collapse winnow-navbar-toggle">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "#", class: "winnow-nav-link" do %>
              Llamas
            <% end %>
          </li>
          <li>
            <%= link_to "#", class: "winnow-nav-link" do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to "#", class: "winnow-nav-link" do %>
              <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "winnow-nav-link" do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% else %>
          <!-- Login link (when logged out) -->
          <li>
            <%= link_to "#", class: "winnow-nav-link" do %>
              About
            <% end %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "winnow-nav-link" %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
</nav>

