<h1>Winnow.io</h1>
<h5>Filter news the why you want.</h5>

<div>
  <ul id="search-results"></ul>
</div>
<hr>

<% if @search_result %>
  <%= @search_result %>
<% else %>
  <%= simple_form_for @search_query do |f| %>
    <%= f.input :keyword, input_html: { id: "home-search-query"} %>
    <%= f.association :news_sources,
        as: :check_boxes,
        value_method: :id_tag %>
    <%= f.button :submit, id: "home-search-button" %>
  <% end %>
<% end %>

<%= link_to "Powered by NewsAPI.org", "https://newsapi.org/" , target: "_blank" %>
