<h1>Winnow.io</h1>
<h5>Filter news the way you want.</h5>

<div data-controller="signup">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div data-target="signup.emailContainer">
        <h3>Sign up to get the news you want.</h3>
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" }%>
        <button data-action="click->signup#submitEmail">Sign Up</button>
      </div>
      <div data-target="signup.passwordContainer" class="hide">
        <h3>Let's get you a password.</h3>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <div class="form-actions">
          <%= f.button :submit, "OK" %>
        </div>
      </div>
    </div>
  <% end %>
</div>











<%= link_to "Powered by NewsAPI.org", "https://newsapi.org/" , target: "_blank" %>

