<h1>Winnow.io</h1>
<h5>Filter news the why you want.</h5>

<hr>

<%= simple_form_for @news_feed do |f| %>
  <%= f.input :keyword %>
  <%= f.input :frequency, collection: NewsFeed.frequencies  %>
  <%= f.association :news_sources,
      as: :check_boxes %>
  <%= f.button :submit %>
<% end %>



<%= link_to "Powered by NewsAPI.org", "https://newsapi.org/" , target: "_blank" %>
