<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                autofocus: true,
                placeholder: "llama@email.com",
                input_html: { autocomplete: "email", class: 'winnow-text-input' } %>
    <%= f.input :password,
                required: false,
                placeholder: raw("&bull;&bull;&bull;&bull;&bull;&bull;"),
                input_html: { autocomplete: "current-password", class: 'winnow-text-input' } %>

    <br>
    <% if devise_mapping.rememberable? %>
      <div>
        <input type="checkbox" class="winnow-radio-btn-check" id="remember_me" name="user[remember_me]" value="0" checked>
        <label class="winnow-radio-btn-check-label" for="remember_me">
          <span>Remember me?</span>
        </label>
      </div>
    <% end %>
    <br>
    <%= f.button :submit, "Log in", class: 'btn btn-winnow' %>
<% end %>

<%= render "devise/shared/links" %>
